[Unit]
Description=Lock the screen
Before=sleep.target suspend.target hibernate.target

[Service]
User=${USER}
Type=forking
Environment=DISPLAY=":1"
ExecStart=/usr/bin/i3lock -i ${HOME}/backgrounds/arch_background.png

[Install]
WantedBy=sleep.target suspend.target hibernate.target

